extends ../layout

block content
	div(class='outline-view', id='left')
		div(id='DocumentTitles')
			ul(id='document-list')
				- for (var d in documents)
					li
						a(data-id="#{documents[d]._id}", href='/documents/' + documents[d]._id)
							=documents[d].title

		ul(class='toolbar')
			li
				a#add-document(href='#')
					+
			li
				a#remove-document(href='#')
					-

	div(class='content-divider')

	div(class='content')
		div(id='editor-container')
			textarea(name='d[data]', id='editor')
				=d.data || ''

	ul(id='controls',class='toolbar')
		li
			a(href='#', id='save-button') Save


	
