doctype 5
html
  head
    title|NodePad
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/javascripts/application.js')
  body
    block content