doctype 5
html
  head
    title|NodePad
    link(rel='stylesheet', href='/stylesheets/aristo.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='http://code.jquery.com/ui/1.10.1/jquery-ui.js')    
    script(type='text/javascript', src='/javascripts/application.js')
  body
     #container
      #header
        ul
          li
            h1|NodePad
              //a(href='/') #{nameAndVersion(appName, version)}
          - if (typeof session.user !== 'undefined')
            li.right
              a#logout(href='/auth/logout') Log Out
            li.right
              form.search(action='/search')
                input(name='s', value='Search')
      block content